{% load static i18n %}<!DOCTYPE html>
<html>
<head>
  <!-- META DATA -->
	<meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Paparajotes Y Bellotas!">
    <meta name="author" content="https://www.Zerotheme.com">

	<title>{% block title %}Paparajotes Y Bellotas{% endblock title %}</title>
  
	{% block css %}
	<!-- Bootstrap Core CSS -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"  type="text/css">
	
	<!-- Owl Carousel Assets -->
	<link href="{% static 'owl-carousel/owl.carousel.css' %}" rel="stylesheet">
	<!-- <link href="owl-carousel/owl.theme.css" rel="stylesheet"> -->
	
	<!-- Custom CSS -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	
	<!-- Custom Fonts -->
	<link rel="stylesheet" href="{% static 'fontawesome-free-5.6.3-web/css/all.min.css' %}"  type="text/css">
	<link href='http://fonts.googleapis.com/css?family=Asap:400,700' rel='stylesheet' type='text/css'>
	{% endblock %}
	
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
    <![endif]-->
	
</head>

 <body>
<header>

	<!-- /////////////////////////////////////////Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="nav-item" href="{% url 'home' %}">Inicio</a>
                    </li>
                    <li>
                        <a class="nav-item" href="{% url 'location' %}">Lugar</a>
                    </li>
                    <li>
                        <a class="nav-item" href="{% url 'toraixa' %}">Toraixa 56</a>
                    </li>
		    <!--
                    {% if request.user.is_authenticated %}
                    <li class="nav-item">
                    {# URL provided by django-allauth/account/urls.py #}
                        <a class="nav-link" href="{% url 'users:detail' request.user.username  %}">{% trans "My Profile" %}</a>
                    </li>
                    <li class="nav-item">
                    {# URL provided by django-allauth/account/urls.py #}
                        <a class="nav-link" href="{% url 'account_logout' %}">{% trans "Sign Out" %}</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                    {# URL provided by django-allauth/account/urls.py #}
                        <a id="sign-up-link" class="nav-link" href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a>
                    </li>
                    <li class="nav-item">
                    {# URL provided by django-allauth/account/urls.py #}
                        <a id="log-in-link" class="nav-link" href="{% url 'account_login' %}">{% trans "Sign In" %}</a>
                    </li>
                    {% endif %}
		    -->
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <!-- Navigation -->

	{% block carousel %}
	<!-- CAROUSEL -->
		<figure class="change-ratio">
			<img src="{% static 'images/nosotros-pisci.jpg' %}" alt="...">
		</figure>
	{% endblock carousel %}
	
</header>

	
	<!-- /////////////////////////////////////////Content -->
	<div id="page-content">
		{% block content %}
		<p>Use this document as a way to quick start any new project.</p>
		{% endblock content %}

	</div>

	<!-- FOOTER -->
	<footer>
		<div class="bottom-footer">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<p>Copyright 20xx - Designed by <a href="https://www.Zerotheme.com">Zerotheme</a></p>
					</div>
					<div class="col-md-4">
					</div>
					<div class="col-md-4">
					</div>
				</div>
			</div>
		</div>
	</footer>
  
	{% block javascript %}
	<!-- jQuery -->
	<script type="text/javascript" src="{% static 'js/jquery-2.1.1.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
	
	<!-- Custom Theme JavaScript -->
	<script src="{% static 'js/agency.js' %}"></script>

	<!-- Plugin JavaScript -->
	<script src="{% static 'js/jquery.easing.min.js' %}"></script>
	<script src="{% static 'js/classie.js' %}"></script>
	<script src="{% static 'js/cbpAnimatedHeader.js' %}"></script>
	
	<!-- carousel -->
	<script src="{% static 'owl-carousel/owl.carousel.js' %}"></script>
    <script>
    $(document).ready(function() {
      $("#owl-brand").owlCarousel({
        autoPlay: 3000,
        items : 6,
		itemsDesktop : [1199,4],
        itemsDesktopSmall : [979,2],
		navigation: true,
		navigationText: ['<i class="fa fa-chevron-left fa-5x"></i>', '<i class="fa fa-chevron-right fa-5x"></i>'],
		pagination: false
      });
    });
    </script>
    <script>
	$( document ).ready(function() {
	    var heights = $(".row-eq-height div").map(function() {
		return $(this).height();
	    }).get(),

	    maxHeight = Math.max.apply(null, heights);

	    $(".row-eq-height div").height(maxHeight);
	});
    </script>
	{% endblock javascript %}
</body>
</html>
