{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}{{ user.username }}{% endblock %}

{% block content %}
<section class="box-content box-2">
  <div class="container">

    <h1>{{ user.username }}</h1>
    <form class="form-horizontal" method="post" action="{% url 'users:update' %}">
      {% csrf_token %}
      {{ form|crispy }}
          <table class="table">
              {{ invitados.management_form }}

              {% for form in invitados.forms %}
                  {% if forloop.first %}
                      <thead>
                      <tr class="row formset_row">
                          {% for field in form.visible_fields %}
                              <th>{{ field.label|capfirst }}</th>
                          {% endfor %}
                      </tr>
                      </thead>
                  {% endif %}
                  <tr class="row formset_row">
                      {% for field in form.visible_fields %}
                          <td>
                              {# Include the hidden fields in the form #}
                              {% if forloop.first %}
                                  {% for hidden in form.hidden_fields %}
                                      {{ hidden }}
                                  {% endfor %}
                              {% endif %}
                              {{ field.errors.as_ul }}
                              {{ field }}
                          </td>
                      {% endfor %}
                  </tr>
              {% endfor %}
          </table>
      <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-primary">Update</button>
        </div>
      </div>
    </form>

  </div>
</section>
{% endblock %}
