{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}{{ user.username }}{% endblock %}

{% block content %}
<section class="box-content box-2">
  <div class="container">

    <form class="form-horizontal" method="post" action="{% url 'users:update' %}">
      {% csrf_token %}

      <div class="normal-box">
          <p>
          Hola <b>
          {% for invform in invitados.forms %}
              {% if not forloop.first %}y{% endif %}
          {{ invform.nombre.value }}{% endfor %},
          </b>
          </p>

          <br>

          <p>
          Aqui podeis escribir un mensaje que aparecera en la pagina
          principal en el apartado <b>"Lo que dicen de los novios"</b>
          </p>

          <br>

          <p>
          Tambien, podeis confirmar si quereis una plaza en el autobus,
          y ademas confirmar asistencia a algunas de las actividades que
          tenemos programadas.
          </p>
      </div>
      <br><br>
      {{ form }}

      <table class="table">
          {{ invitados.management_form }}

          {% for invform in invitados.forms %}
              {% if forloop.first %}
                  <thead>
                  <tr class="row formset_row">
                      {% for field in invform.visible_fields %}
                          <th>{{ field.label|capfirst }}</th>
                      {% endfor %}
                  </tr>
                  </thead>
              {% endif %}
              <tr class="row formset_row">
                  <td>
                      {# Include the hidden fields in the form #}
                      {% for hidden in invform.hidden_fields %}
                          {{ hidden }}
                      {% endfor %}
                      {{ invform.errors.as_ul }}
                      {{ invform.nombre.value }}
                  </td>
                  <td>
                      {{ invform.asiste.errors.as_ul}}
                      {{ invform.asiste }}
                  </td>
                  <td>
                      {{ invform.autobue.errors.as_ul}}
                      {{ invform.autobus }}
                  </td>
                  <td>
                      {{ invform.llegada.errors.as_ul }}
                      {{ invform.llegada }}
                  </td>
                  <td>
                      {{ invform.salida.errors.as_ul }}
                      {{ invform.salida }}
                  </td>
              </tr>
          {% endfor %}
      </table>
      <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-primary">Update</button>
        </div>
      </div>
    </form>

  </div>
</section>
{% endblock %}
