{% extends "base.html" %}
{% load static i18n %}
{% block title %}Invitados{% endblock %}

{% block content %}
<section class="box-content box-2">
  <div class="container">
    <h2>Invitados</h2>
    <a class="btn btn-primary" style="float: right;" href="{% url 'users:list_csv' %}" role="button">CSV</a>

    <table style="width:100%">
      <tr>
        <th>Nombre</th>
        <th>Asiste</th>
        <th>Llegada</th>
        <th>Salida</th>
        <th>Autobus</th>
        <th>Lunes</th>
        <th>Martes</th>
        <th>Miercoles</th>
        <th>Jueves</th>
        <th>Viernes</th>
      </tr>
        {% for user in user_list %}
          {% for invitado in user.invitado_set.all %}
            <tr>
              <td>{{ invitado}}</td>
              <td>{{ invitado.asiste }}</td>
              <td>{{ invitado.llegada }}</td>
              <td>{{ invitado.salida }}</td>
              <td>{{ invitado.autobus }}</td>
              <td>{{ invitado.lunes16velero }}</td>
              <td>{{ invitado.martes17playa }}</td>
              <td>{{ invitado.miercoles18comida }}</td>
              <td>{{ invitado.jueves19playa }}</td>
              <td>{{ invitado.viernes20preboda }}</td>
            </tr>
          {% endfor %}
        {% endfor %}
    </table>
  </div>
</section>
{% endblock content %}
