{% extends "base.html" %}
{% load static i18n %}<!DOCTYPE html>
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block title %}{{ user.username }}{% endblock %}

{% block content %}
<section class="box-content box-2">
  <div class="container">

    <form class="form-horizontal" autocomplete='off' method="post" action="{% url 'users:update' %}">
      {% csrf_token %}

      <div class="normal-box">
          <p>
          {% trans 'Hola' %} <b>
          {% for invform in invitados.forms %}
              {% if not forloop.first %}{% trans 'y' %}{% endif %}
              {{ invform.nombre.value }}{% endfor %},
          </b>
          </p>

          <br>

          <p>
{% blocktrans %}
Aqui podéis escribir un mensaje que aparecera en la página
principal en el apartado <b>"Lo que dicen de los novios"</b>
{% endblocktrans %}
          </p>

          <br>

          <p>
{% blocktrans %}
También, podéis confirmar si queréis una plaza en el autobus.
Ademas, podéis confirmar asistencia a algunas de las actividades
que tenemos programadas.
{% endblocktrans %}
          </p>
      </div>
      <br><br>

      {{ form }}

      <br><br>

      {{ invitados.management_form }}
      <table class="table">

          {% for invform in invitados.forms %}
              {% if forloop.first %}
                  <thead>
                  <tr class="row formset_row">
                      <th>{% trans 'Nombre' %}</th>
                      <th>{% trans 'Confirmada asistencia' %}</th>
                      <th>{% trans 'Autobus' %}</th>
                      <th>{% trans 'Llegada' %}</th>
                      <th>{% trans 'Salida' %}</th>
                  </tr>
                  </thead>
              {% endif %}
              <tr class="row formset_row">
                  <td>
                      {# Include the hidden fields in the form #}
                      {% for hidden in invform.hidden_fields %}
                          {{ hidden }}
                      {% endfor %}
                      {{ invform.nombre.value }}
                  </td>
                  <td>
                      {{ invform.asiste }}
                  </td>
                  <td>
                      {{ invform.autobus }}
                  </td>
                  <td>
                      {{ invform.llegada|add_error_class:"is-invalid" }}
                  </td>
                  <td>
                      {{ invform.salida }}
                  </td>
              </tr>
          {% endfor %}
      </table>

      <br><br>

      <table class="table">

          {% for invform in invitados.forms %}
              {% if forloop.first %}
                  <thead>
                  <tr class="row formset_row">
                      <th>{% trans 'Nombre' %}</th>
                      <th>{% trans 'Lunes 16 - Velero' %}</th>
                      <th>{% trans 'Martes 17 - Playa' %}</th>
                      <th>{% trans 'Miercoles 18 - Al Ayuntamiento!' %}</th>
                      <th>{% trans 'Jueves 19 - Playa' %}</th>
                  </tr>
                  </thead>
              {% endif %}
              <tr class="row formset_row">
                  <td>
                      {{ invform.nombre.value }}
                  </td>
                  <td>
                      {{ invform.lunes16velero }}
                  </td>
                  <td>
                      {{ invform.martes17playa }}
                  </td>
                  <td>
                      {{ invform.miercoles18comida }}
                  </td>
                  <td>
                      {{ invform.jueves19playa }}
                  </td>
              </tr>
          {% endfor %}
      </table>

      {% for invform in invitados.forms %}
          {% if invform.errors%}
          <div class="alert alert-danger" role="alert">
              {{ invform.nombre.value }}
              {{ invform.errors.as_ul }}
          </div>
          {% endif %}
      {% endfor %}

      <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-primary">{%trans 'Actualizar'%}</button>
        </div>
      </div>
    </form>

  </div>
</section>
{% endblock %}

{% block javascriptsources %}
    <script type="text/javascript" src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>

{% endblock %}

{% block extrajs %}
$('[id$=salida], [id$=llegada]').datepicker({
    format: "dd/mm/yyyy",
    startDate: "12/9/2019",
    endDate: "26/9/2019",
    maxViewMode: 1
});

{% endblock %}

{% block morecss %}
    <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.min.css' %}"  type="text/css">
{% endblock %}
