{% extends "base.html" %}
{% load static i18n %}<!DOCTYPE html>
{% block content %}
<!-- Content from home.html -->
<section class="box-content box-1 box-style-1" id="about">
	<div class="container">
		<div class="row heading">
			 <div class="col-lg-12">
			    <h2>{% trans 'Quedan...' %}</h2>
	                    <hr>
	                </div>
		</div>
		<div class="row" style="text-align: center;">
			<div id="clockdiv" class="span6" style="float: none; margin: 0 auto;">
			  <div>
			    <span class="days"></span>
			    <div class="smalltext">{% trans 'Días' %}</div>
			  </div>
			  <div>
			    <span class="hours"></span>
			    <div class="smalltext">{% trans 'Horas' %}</div>
			  </div>
			</div>

		</div>
	</div>
</section>

<script>
function getTimeRemaining(endtime) {
  var t = Date.parse(endtime) - Date.parse(new Date());
  var seconds = Math.floor((t / 1000) % 60);
  var minutes = Math.floor((t / 1000 / 60) % 60);
  var hours = Math.floor((t / (1000 * 60 * 60)) % 24);
  var days = Math.floor(t / (1000 * 60 * 60 * 24));
  return {
    'total': t,
    'days': days,
    'hours': hours,
    'minutes': minutes,
    'seconds': seconds
  };
}

function initializeClock(id, endtime) {
  var clock = document.getElementById(id);
  var daysSpan = clock.querySelector('.days');
  var hoursSpan = clock.querySelector('.hours');

  function updateClock() {
    var t = getTimeRemaining(endtime);

    daysSpan.innerHTML = t.days;
    hoursSpan.innerHTML = ('0' + t.hours).slice(-2);

    if (t.total <= 0) {
      clearInterval(timeinterval);
    }
  }

  updateClock();
  var timeinterval = setInterval(updateClock, 1000);
}

var deadline = new Date(Date.parse("Sept 21, 2019 13:00:00"));
initializeClock('clockdiv', deadline);
</script>
<!-- End of content from home.html -->
{% endblock %}
