{% extends "base.html" %}
{% load static i18n %}<!DOCTYPE html>
{% block content %}
<!-- Content from home.html -->
<section class="box-content box-1 box-style-1">
	<div class="container">
		<div class="row heading">
			 <div class="col-lg-12">
			    <h2 class="main-subheader">{% trans 'Despues de tantas vueltas...' %}</h2>
			    <h1 class="main-header">{% trans 'Nos casamos!!' %}</h2>
	                    <hr class="line02">
			 <div class="normal-box">
<p>Menorca se convirtió en un destino especial para los dos desde nuestro primer viaje a la isla en 2014. Fue nuestro primer destino de verano como pareja!</p>

<p>Queríamos huir del mal tiempo de Manchester, relajarnos y disfrutar del mar y de la buena comida! Menorca superó todas nuestras expectativas.</p>

<p>Playas vírgenes, preciosas calas escondidas, unas de las aguas más azules que habíamos visto nunca, puestas de sol mágicas, desconexión...</p>

<p>Fue en uno de esos primeros viajes, entre cantidad ingentes de sangría, licor de hierbas de la isla y pomada donde surgió la idea… si algún día decidimos cometer esta locura, tendría que ser en Menorca.</p>

<p>Y así, año tras año desde entonces, Menorca nos enamoraba un poco más… y la idea iba cobrando vida</p>

<p>Nuestro último viaje a la isla fue en 2017, llovió cada uno de los días que estuvimos allí. Tuvimos que irnos de cada playa huyendo de la lluvia o persiguiendo el poco sol que asomaba entre las nubes.</p>

<p>Decidimos que era el momento de buscar otros destinos pero nos prometimos que la próxima vez que visitaramos Menorca, tendría que ser para celebrar nuestra boda.</p>

<p>El 21 de Septiembre de 2019 cumpliremos este pequeño sueño y lo queremos compartir con vosotros.</p>
	                </div>
	                </div>
		</div>
		<div class="row" style="text-align: center;">
			<h2 class="main-handwrite">{% trans '21 de Septiembre de 2019' %}</h2>
			<br/>
			<h2 class="main-sub-handwrite">{% trans 'Menorca' %}</h2>
			<br/>
			<div id="clockdiv" class="span6" style="float: none; margin: 0 auto;">
			  <div>
			    <span class="days"></span>
			    <div class="smalltext">{% trans 'Días' %}</div>
			  </div>
			  <div>
			    <span class="hours"></span>
			    <div class="smalltext">{% trans 'Horas' %}</div>
			  </div>
			  <div>
			    <span class="minutes"></span>
			    <div class="smalltext">{% trans 'Minutos' %}</div>
			  </div>
			</div>

		</div>
	</div>
</section>

<section class="box-content box-1 box-style-1">
        <div class="container">
                <div class="row heading">
                         <div class="col-lg-12">
                                <h2 class="header">{% trans "Lo que dicen de ellos" %}</h2>
                                <hr class="line02">
                        </div>
                </div>
                <div class="row">
			{% for q in quotes %}

	</div>
	<div class="container">
		<blockquote class="quote-box">
		  <p class="quotation-mark">“</p>
		  <p class="quote-text">
		  	{{ q.mensaje }}
		  </p>
		  <hr>
		  <div class="blog-post-actions">
			<p class="quote-text-colour blog-post-bottom pull-left">
			</p>
			<p class="quote-text-colour blog-post-bottom pull-right">
				{{ q.firma }}
			</p>

		  </div>
		</blockquote>
	</div>
			{% endfor %}
		</div>
</section>

<script>
function getTimeRemaining(endtime) {
  var t = Date.parse(endtime) - Date.parse(new Date());
  var seconds = Math.floor((t / 1000) % 60);
  var minutes = Math.floor((t / 1000 / 60) % 60);
  var hours = Math.floor((t / (1000 * 60 * 60)) % 24);
  var days = Math.floor(t / (1000 * 60 * 60 * 24));
  return {
    'total': t,
    'days': days,
    'hours': hours,
    'minutes': minutes,
    'seconds': seconds
  };
}

function initializeClock(id, endtime) {
  var clock = document.getElementById(id);
  var daysSpan = clock.querySelector('.days');
  var hoursSpan = clock.querySelector('.hours');
  var minutesSpan = clock.querySelector('.minutes');

  function updateClock() {
    var t = getTimeRemaining(endtime);

    daysSpan.innerHTML = t.days;
    hoursSpan.innerHTML = ('0' + t.hours).slice(-2);
    minutesSpan.innerHTML = ('0' + t.minutes).slice(-2);

    if (t.total <= 0) {
      clearInterval(timeinterval);
    }
  }

  updateClock();
  var timeinterval = setInterval(updateClock, 1000);
}

var deadline = new Date(Date.parse("Sept 21, 2019 13:00:00"));
initializeClock('clockdiv', deadline);
</script>
<!-- End of content from home.html -->
{% endblock %}
