{% extends "base.html" %}
{% load static i18n %}<!DOCTYPE html>
{% block content %}
<!-- Content from home.html -->
<section class="box-content box-2" id="services">

	<div class="container">
		<div class="row heading">
			 <div class="col-lg-12">	
				<h2 class="header">{% trans "Donde alojarse" %}</h2>
				<hr class="line02">
			</div>
		</div>
		<div class="row row-eq-height">
			<div class="center-fa col-md-6 col-lg-3">
				<i class="fas fa-4x fa-home text-primary"></i>
				<h4 class="header">{% trans "Agroturismo" %}</h4>
				<p>Biniarroca Adults Only</p>
				<p>Biniati des Pi</p>
				<p>Sant Joan de Binissaida</p>
				<p>Alcaufar Vell</p>
			</div>
			<div class="center-fa col-md-6 col-lg-3">
				<i class="fas fa-4x fa-city text-primary"></i>
				<h4 class="header">{% trans "En el centro de Maó" %}</h4>
				<p>Síndic Hotel Adults Only</p>
				<p>San Miguel Hotel</p>
			</div>
			<div class="center-fa col-md-6 col-lg-3">
				<i class="fas fa-4x fa-umbrella-beach text-primary"></i>
				<h4 class="header">{% trans "Cerca de la playa" %}</h4>
				<p>Artiem Carlos</p>
				<p>Barceló Hamilton Adults Only</p>
				<p>Port Blue s'Algar Adults Only</p>
			</div>
			<div class="center-fa col-md-6 col-lg-3">
				<i class="fas fa-4x fa-map-marked-alt text-primary"></i>
				<h4 class="header">{% trans "Otras zonas" %}</h4>
				<p>{% trans "Zona Villacarlos" %}</p>
				<p>{% trans "Zona Mahón" %}</p>
				<p>{% trans "Zona Santa Ana y Sol del Este" %}</p>
				<p>{% trans "Zona Cala San Esteban" %}</p>
				<p>{% trans "Zona S'Algar" %}</p>
			</div>
		</div>
	</div>
</section>

<!-- End of content from location.html -->
{% endblock %}
