{% extends "base.html" %}
{% load static i18n %}<!DOCTYPE html>
{% block carousel %}
<!-- CAROUSEL -->
        <figure class="change-ratio">
                <img class="center" src="{% static 'images/eiffel-kiss.jpg' %}" alt="...">
        </figure>
{% endblock carousel %}

{% block content %}
<!-- Content from location.html -->

{% get_current_language as LANGUAGE_CODE %}

<section class="box-content box-1 box-style-1" id="calendariosocial">
	<div class="container">
		<div class="row heading">
			 <div class="col-lg-12">
				<h1 class="header">{% trans "Calendario Social" %}</h1>
				<hr class="line02">
				<div class="normal-box">
<p>
{% blocktrans %}
Una de las principales razones por las que hemos decidido celebrar nuestra boda en Menorca es para poder disfrutar de la isla junto a vosotros. Sabemos que muchos de vosotros vais a venir algunos días antes, por lo que hemos decidido organizar ciertas actividades a las que os podéis apuntar.
{% endblocktrans %}
</p>
				</div>
			</div>
		</div>
	</div>

</section>
<section class="box-content box-1 box-style-3">
	<div class="container">
		<div class="row heading">
			 <div class="col-lg-12">
				<h2 class="header">{% trans "Lunes 16 - Ruta en velero" %}</h2>
				<hr class="line02">
				<div class="normal-box">
<p>
{% blocktrans %}
Alquilaremos un velero para ir a algunas calas de dificil acceso, practicar snorkelling y algunas cosas mas. Más informacion en <a href="http://www.menorcavela.com">la web de Menorca a Vela</a>
{% endblocktrans %}
</p>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row heading">
			 <div class="col-lg-12">
				<h2 class="header">{% trans "Martes 17 - Dia de playa" %}</h2>
				<hr class="line02">
				<div class="normal-box">
<p>
{% blocktrans %}
Decidiremos una cala de acceso no muy complicado en la que pasar el dia. Es recomendable llevar comida y bebida, normalmente no hay ningun tipo de servicio alrededor, y la idea seria pasar todo el día.
{% endblocktrans %}
</p>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row heading">
			 <div class="col-lg-12">
				<h2 class="header">{% trans "Miercoles 18 - Al Ayuntamiento!" %}</h2>
				<hr class="line02">
				<div class="normal-box">
<p>
{% blocktrans %}
A las 12 de la mañana tendremos que estar en el Ayuntamiento de Ciudatella, para casarnos oficialmente. Una vez terminados los trámites legales, llega la hora de celebrar! Nos gustaría organizar una comida en algún restaurante rico de la zona y por supuesto que nos acompañéis
{% endblocktrans %}
</p>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row heading">
			 <div class="col-lg-12">
				<h2 class="header">{% trans "Jueves 19 - Dia de playa" %}</h2>
				<hr class="line02">
				<div class="normal-box">
<p>
{% blocktrans %}
Decidiremos una cala de acceso no muy complicado en la que pasar el dia. Es recomendable llevar comida y bebida, normalmente no hay ningun tipo de servicio alrededor, y la idea seria pasar todo el día.
{% endblocktrans %}
</p>
				</div>
			</div>
		</div>
	</div>

</section>

<!-- End of content from location.html -->
{% endblock %}
