{% extends "base.html" %}
{% load static i18n %}<!DOCTYPE html>
{% block content %}
<!-- Content from tips.html -->

<section class="box-content box-1 box-style-1" id="calas">

	<div class="container">
		<div class="row heading">
			 <div class="col-lg-12">
				<h2 class="header">{% trans "Las Calas que más nos gustan de Menorca" %}</h2>
				<hr class="line02">
                                <div class="normal-box">
<p>
{% blocktrans %}
En Menorca hay que andar para llegar a las calas, en algunos casos mucho y los caminos pueden ser bastante complicados. Usa calzado cómodo para las caminatas (calzado de trekking, deportivos, escarpines...etc)
{% endblocktrans %}
</p>
<p>
{% blocktrans %}
Los parkings cercanos a algunas calas se llenan enseguida, por lo que hay que intentar llegar pronto. A partir de las 10.00 - 11.00 en pleno verano los parking están completos, quizá tengamos algo más de suerte en Septiembre.
{% endblocktrans %}
</p>
<p>
{% blocktrans %}
Las calas escondidas y playas vírgenes no tienen ningún tipo de servicio (como debe ser!) más vale que lleves comida y bebida contigo si quieres pasar el dia.
{% endblocktrans %}
</p>

<br><br>

<p>
<b>
{% blocktrans %}
1. Binidali,
{% endblocktrans %}
</b>
</p>

<p>
{% blocktrans %}
Sin duda nuestra cala! Muy cerquita de Benibeca.
{% endblocktrans %}
</p>

<br><br>

<p>
<b>
{% blocktrans %}
2. Pregonda (Norte)
{% endblocktrans %}
</b>
</p>
<p>
{% blocktrans %}
Es una playa especial para nosotros, es super bonita y tranquila.
{% endblocktrans %}
</p>

<p>
{% blocktrans %}
Lleva comida y bebida para pasar el dia.
{% endblocktrans %}
</p>

<br><br>

<p>
<b>
{% blocktrans %}
3. Cala Escorxada (Sur)
{% endblocktrans %}
</b>
</p>
<p>
{% blocktrans %}
Es la gran desconocida del sur, muy poca gente la visita sobre todo porque hay que andar al menos una hora para llegar, eso sí las vistas durante el camino son inigualables.
{% endblocktrans %}
</p>

<p>
{% blocktrans %}
Nos la recomendó una chica de Menorca, es la favorita de muchos menorquines.
{% endblocktrans %}
</p>

<p>
{% blocktrans %}
Es un destino frecuente de barcos que fondean cuando sopla viento norte.
No hay servicios de ningún tipo.
{% endblocktrans %}
</p>

<br><br>

<p>
<b>
{% blocktrans %}
4. Es Talaier (Sur)
{% endblocktrans %}
</b>
</p>

<p>
{% blocktrans %}
Es el prototipo de playa del sur de Menorca. Arena fina y agua turquesa! Es como una piscina natural!
{% endblocktrans %}
</p>

<p>
{% blocktrans %}
Para llegar tienes que hacer excursión desde Son Saura, la playa es bastante pequeña y en plena temporada de verano suele estar llena… aún así, merece la pena una visita.
{% endblocktrans %}
</p>

<br><br>

<p>
<b>
{% blocktrans %}
5. Cavalleria (Norte).
{% endblocktrans %}
</b>
</p>

<p>
{% blocktrans %}
Una playa preciosa de arena roja.
{% endblocktrans %}
</p>

<p>
{% blocktrans %}
Es muy visitada por varias razones, se encuentra en un espacio natural único, está en el paso de Camí de Cavalls y tiene un parking a solo 5 minutos de la playa.
{% endblocktrans %}
</p>

<p>
{% blocktrans %}
Tambien podeis visitar el Faro de Cavalleria que está muy cerca y las vistas son super bonitas.
{% endblocktrans %}
</p>

<br><br>

<p>
<b>
{% blocktrans %}
6. Cala en Turqueta
{% endblocktrans %}
</b>
</p>

<p>
{% blocktrans %}
Si tuviéramos que elegir una sola cala.. No podríamos! Pero Cala en Turqueta seguro que sería una de las candidatas!
{% endblocktrans %}
</p>

<p>
{% blocktrans %}
La hemos visitado mucho desde nuestros primeros viajes a Menorca.
{% endblocktrans %}
</p>

<br><br>

<p>
<b>
{% blocktrans %}
7. Cala Mitjana (y Mitjaneta)
{% endblocktrans %}
</b>
</p>

<p>
{% blocktrans %}
Playa de aguas turquesas y transparentes, rodeada de pinos.
{% endblocktrans %}
</p>

<br><br>

<p>
<b>
{% blocktrans %}
8. Cala Trebaluger
{% endblocktrans %}
</b>
</p>

<p>
{% blocktrans %}
Cala virgen que está a 40 minutos siguiendo un camino que se toma desde la izquierda desde Mitjana, con la ayuda de unos escalones de piedra. Hay que subir una fuerte pendiente hasta llegara lo alto del acantilado.
{% endblocktrans %}
</p>

<p>
{% blocktrans %}
Desde alli un camino plano, dominado por un bosque de pinos te llevará hasta cala Trebaluger.
{% endblocktrans %}
</p>

<p>
{% blocktrans %}
Para acceder a la playa deberás bajar por otro tramo con bastante desnivel y más escalones de piedra.
{% endblocktrans %}
</p>

<p>
{% blocktrans %}
Si continuas andando desde Cala Trebaluger, llegamos a nuestra preferida número 3 Escorxada!
{% endblocktrans %}
</p>

<p>
{% blocktrans %}
Por supuesto hay muchas otras, igual de bonitas pero queríamos compartir nuestras favoritas con vosotros.
{% endblocktrans %}
</p>

<br><br>

<p>
<b>
{% blocktrans %}
Otras:
{% endblocktrans %}
</b>
</p>

<p>
{% blocktrans %}
Las famosas Macarella y Macarelleta, sin duda las playas más populares de Menorca.
{% endblocktrans %}
</p>

<p>
{% blocktrans %}
Otras que aún no conocemos, y eso nos encanta, que a pesar del número de veces que hemos visitado la isla aún queda mucho por descubrir! Cala Presili, Cala Pilar, Binigaus Y Santo Tomás.
{% endblocktrans %}
</p>

<p>
{% blocktrans %}
Algunas de fácil acceso: Pla de Son Bou, playa de Cala en Porter, playa de Bininequer, Cala Punta Prima
{% endblocktrans %}
</p>




                                </div>
			</div>
		</div>
	</div>
</section>

<section class="box-content box-1 box-style-3" id="alojamiento">

	<div class="container">
		<div class="row heading">
			 <div class="col-lg-12">
				<h2 class="header">{% trans "Dónde alojarse" %}</h2>
				<hr class="line02">
			</div>
		</div>
		<div class="row row-eq-height">
			<div class="center-fa col-md-6 col-lg-3">
				<i class="fas fa-4x fa-home text-primary"></i>
				<h4 class="header">{% trans "Agroturismo" %}</h4>
				<p>Biniarroca Adults Only</p>
				<p>Biniati des Pi</p>
				<p>Sant Joan de Binissaida</p>
				<p>Alcaufar Vell</p>
			</div>
			<div class="center-fa col-md-6 col-lg-3">
				<i class="fas fa-4x fa-city text-primary"></i>
				<h4 class="header">{% trans "En el centro de Maó" %}</h4>
				<p>Síndic Hotel Adults Only</p>
				<p>San Miguel Hotel</p>
			</div>
			<div class="center-fa col-md-6 col-lg-3">
				<i class="fas fa-4x fa-umbrella-beach text-primary"></i>
				<h4 class="header">{% trans "Cerca de la playa" %}</h4>
				<p>Artiem Carlos</p>
				<p>Barceló Hamilton Adults Only</p>
				<p>Port Blue s'Algar Adults Only</p>
			</div>
			<div class="center-fa col-md-6 col-lg-3">
				<i class="fas fa-4x fa-map-marked-alt text-primary"></i>
				<h4 class="header">{% trans "Otras zonas" %}</h4>
				<p>{% trans "Zona Villacarlos" %}</p>
				<p>{% trans "Zona Mahón" %}</p>
				<p>{% trans "Zona Santa Ana y Sol del Este" %}</p>
				<p>{% trans "Zona Cala San Esteban" %}</p>
				<p>{% trans "Zona S'Algar" %}</p>
			</div>
		</div>
	</div>
</section>

<section class="box-content box-1 box-style-1" id="servicios">
	<div class="container">
		<div class="row heading">
			 <div class="col-lg-12">
				<h2 class="header">{% trans "Servicios de interés" %}</h2>
				<hr class="line02">
			</div>
		</div>
		<div class="row center-fa themed-links">
			<i class="fas fa-4x fa-cut text-primary"></i>
			<i class="fas fa-4x fa-paint-brush text-primary"></i>
			<h4 class="header">{% trans "Peluquería y maquillaje" %}</h4>
			<p><a target="_newtab" rel="noopener noreferrer" href="https://www.facebook.com/talltall.perruqueriaestetica/">
				Sunta Estilistes
				<i class="fas fa-external-link-alt"></i>
			</a></p>
			<p><a target="_newtab" rel="noopener noreferrer" href="https://www.instagram.com/explore/locations/1015142333/estils-perruqueria-estetica/">
				Estils Perruqueria
				<i class="fas fa-external-link-alt"></i>
			</a></p>
			<p><a target="_newtab" rel="noopener noreferrer" href="http://www.negrepeluqueros.com">
				Peluqueria Negre
				<i class="fas fa-external-link-alt"></i>
			</a></p>
		</div>
	</div>
</section>

<!-- End of content from tips.html -->
{% endblock %}
